@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    [v-cloak] .v-cloak--block {
        display: block;
    }
    [v-cloak] .v-cloak--inline {
        display: inline;
    }
    [v-cloak] .v-cloak--inlineBlock {
        display: inline-block;
    }
    [v-cloak] .v-cloak--hidden {
        display: none;
    }
    [v-cloak] .v-cloak--invisible {
        visibility: hidden;
    }
    .v-cloak--block,
    .v-cloak--inline,
    .v-cloak--inlineBlock {
        display: none;
    }
}

@layer components {
    .alert {
        @apply border fixed bottom-5 right-5 font-medium max-w-6xl mx-auto my-4 p-4 rounded-lg;
    }
    .alert-success {
        @apply bg-blue-100 border-blue-300 text-blue-900;
    }
    .alert-error {
        @apply bg-red-100 border-red-300 text-red-900;
    }
}
