@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    [v-cloak] .v-cloak--block {
        display: block;
    }
    [v-cloak] .v-cloak--inline {
        display: inline;
    }
    [v-cloak] .v-cloak--inlineBlock {
        display: inline-block;
    }
    [v-cloak] .v-cloak--hidden {
        display: none;
    }
    [v-cloak] .v-cloak--invisible {
        visibility: hidden;
    }
    .v-cloak--block,
    .v-cloak--inline,
    .v-cloak--inlineBlock {
        display: none;
    }
}

@layer base {
    a {
        @apply text-blue-800 hover:underline;
    }
}

@layer components {
    .alert-container {
        @apply flex items-center justify-center w-screen fixed top-5;
    }
    .alert {
        @apply flex border font-medium max-w-6xl p-4 rounded-lg;
    }
    .alert-success {
        @apply bg-blue-100 border-blue-300 text-blue-900;
    }
    .alert-error {
        @apply bg-red-100 border-red-300 text-red-900;
    }
    .tribute-container {
        @apply absolute top-0 left-0 h-auto max-h-52 max-w-sm overflow-auto block z-auto;
    }
    .tribute-container ul {
        @apply mt-2 p-0 bg-gray-100;
    }
    .tribute-container li {
        @apply p-5 cursor-pointer;
    }
    .tribute-container li.highlight {
        @apply bg-gray-200;
    }
    .tribute-container li span {
        @apply font-bold;
    }
    .tribute-container li.no-match {
        @apply cursor-default;
    }
    .tribute-container .menu-highlighted {
        @apply font-bold;
    }
}
